html,
body,
main {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

main{
    margin-bottom: 70px;
}

header {
    margin-top: 150px;

}

.heading{
    font-weight: 550;
}

#logoNav {
    height: 50px;
    width: auto;
    cursor: pointer;
}

/* codice per la navbar figa blurrata */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: rgba(5, 9, 19, 0.01);
    z-index: 2;
}

/* ----------------------- */

#imgUtente {
    height: 35px;
    width: auto;
}

#tooltip {
    margin-top: 64px;
    position: fixed;
    right: 0;
    top: 0%;
    z-index: 3;
}

#tooltip div {
    background-color: rgba(32, 33, 36, 0.21);
    border: 1px solid rgba(32, 33, 36, 0.21);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);


    display: flex;
    flex-direction: column;
}

#tooltip div a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#tooltip div a:hover {
    text-decoration: underline;
}


h3 {
    color: white;
}

.nav-link {
    color: white;
}

@keyframes linkAnimation {
    50% {
        transform: scaleY(1.1);
        transform: scaleX(1.1);
    }

    100% {
        transform: scaleY(1.0);
        transform: scaleX(1.0);
    }

}

.nav-link:hover {
    color: white;
    /* transform: scale(1.1);
    transition: 0.1s; */
    animation-name: linkAnimation;
    animation-duration: 0.3s;
}

#uploadFileContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#conteinerTable{
    position: relative;
}

#sfondo{
    width: 100%;
    height: auto;
    position:absolute;
    z-index: 0;
    transform: rotate(180deg);

    margin-top: -400px;
}

/* From Uiverse.io by Yaya12085 */
.custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px solid #2a373c79;
    background-color: #455a6454;   
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

#iconContainer{
    border: 3px dashed rgba(198, 198, 198, 0.373);
    border-radius: 15px;
}

@media screen and (max-width: 931px) {

    #sfondo{
        margin-top: -180px;
    }
}

.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .icon svg {
    height: 80px;
    fill: rgb(198, 198, 198);
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: rgb(198, 198, 198);
}

.custum-file-upload input {
    display: none;
}

#imgPreview{
    height: 300px;
    border-radius: 5px;

    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.399);
}

#divPreview{
    background-color: #455a6460;
    border: 1px solid transparent;
    border-radius: 15px;

    display: flex;
    flex-direction: column;

}

.tdColor{
    display: flex;
    justify-content: center;
}

.divColor{
    width: 30px;
    height: 30px;
    border-radius:50%;
}

.tdText{
    height: min-content;
}

#btnSalvaPalette{
    background-color: #00ffd0;
    box-shadow: 0px 0px 3px 0px #00ffd071;
    border: 0px;
    color: #050913;
}

#btnSalvaPalette:hover {
    transition: 0.15s;
    box-shadow: 0px 0px 35px 1px #00ffd071;
}

#btnSalvaColore{
    background-color: #00ffd0;
    box-shadow: 0px 0px 3px 0px #00ffd071;
    border: 0px;
    color: #050913;
}

#btnSalvaColore:hover {
    transition: 0.15s;
    box-shadow: 0px 0px 35px 1px #00ffd071;
}

#btnAnalizza{
    background-color: #00ffd0;
    box-shadow: 0px 0px 3px 0px #00ffd071;
    border: 0px;
    color: #050913;
}

#divBtnAnalizza{
    display: flex;
    justify-content: end;
    align-items: center;
}

#btnAnalizza:hover {
    transition: 0.15s;
    box-shadow: 0px 0px 35px 1px #00ffd071;
}

#divRev {
    border: 1px solid rgba(51, 132, 104, 0.562);
    border-radius: 15px;
    box-shadow: 0px 0px 35px 1px rgb(51, 132, 103);
    background-color: #050b0e;
}

#containerRev{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#showReview{
    background-color: #050b0e;
    border: 1px solid #27292a;
    border-radius: 15px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divReviews{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #00ffd0;
    align-items: center;
}

.rating input {
    appearance: unset;
}

.rating label {
    cursor: pointer;
}

.rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
    from {
        stroke-dashoffset: 24;
    }
}

.rating label:hover svg {
    stroke: var(--fill);
}

.rating input:checked~label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
}

@keyframes yippee {
    0% {
        transform: scale(1);
        fill: var(--fill);
        fill-opacity: 0;
        stroke-opacity: 1;
        stroke: var(--stroke);
        stroke-dasharray: 10;
        stroke-width: 1px;
        stroke-linejoin: bevel;
    }

    30% {
        transform: scale(0);
        fill: var(--fill);
        fill-opacity: 0;
        stroke-opacity: 1;
        stroke: var(--stroke);
        stroke-dasharray: 10;
        stroke-width: 1px;
        stroke-linejoin: bevel;
    }

    30.1% {
        stroke: var(--fill);
        stroke-dasharray: 0;
        stroke-linejoin: miter;
        stroke-width: 8px;
    }

    60% {
        transform: scale(1.2);
        fill: var(--fill);
    }
}

/* ----------------------------------- */

/* codice per le reviews */

.testimonial-card {
    max-width: 500px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #455a6454;
    color: white;
    backdrop-filter: blur(10px)
}

#btnShowMoreRev{
    background-color: #00ffd0;
}

#btnShowMoreRev:hover{
    color:black;
    box-shadow: 2px 2px 0px 2px #00ffd03d;
}

#divShowMoreRev{
    display: flex;
    justify-content: center;
}

#writeReview{
    background-color: #455a6454;
    color: white;
    border-radius: 15px;
}

#btnWriteReview{
    background-color: #00ffd0;
}

#btnWriteReview:hover{
    color:black;
    box-shadow: 2px 2px 0px 2px #00ffd03d;
}

#divBtnSendRev{
    display: flex;
    flex-direction: row-reverse;
}

#txtReview{
    background-color: #050b0e2f;
    border: 1px solid #4e5152;
    color: white;
    font-size: small;

    height: 375px;
    resize: none;
}

#txtReview:focus{
    box-shadow: 0px 0px 30px 3px #00ffd034;
    border: 1px solid #4e5152;
    color: white;
    font-size: small;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #00ffd0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.stars {
    color: #00ffd0;
    letter-spacing: 2px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.card-text {
    color: #4a4a4a;
    line-height: 1.5;
}

/* footer */

.footer {
    /* background: linear-gradient(to right, #111827, #581c87); */
    color: white;
}

.social-icon {
    color: white;
    transition: color 0.2s;
}

.social-icon:hover {
    color: rgba(255, 255, 255, 0.7);
}

.payment-icon {
    height: 2rem;
    width: auto;
}

a.text-white {
    transition: opacity 0.2s;
}

a.text-white:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1004px) {

    #containerRev{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #containerRev{
        width: 205%;
    }

    #showReview{
        margin-bottom: 10px;
    }
}

#SavePaletteModalContent{
    backdrop-filter:blur(10px);
}