html,
body,
main {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

header {
    margin-top: 150px;

}

#logoNav {
    height: 50px;
    width: auto;
    cursor: pointer;
}

/* codice per la navbar figa blurrata */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: rgba(5, 9, 19, 0.01);
    z-index: 2;
}

/* ----------------------- */

#imgUtente {
    height: 35px;
    width: auto;
}

#tooltip {
    margin-top: 64px;
    position: fixed;
    right: 0;
    top: 0%;
    z-index: 3;
}

#tooltip div {
    background-color: rgba(32, 33, 36, 0.21);
    border: 1px solid rgba(32, 33, 36, 0.21);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);


    display: flex;
    flex-direction: column;
}

#tooltip div a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#tooltip div a:hover {
    text-decoration: underline;
}


h3 {
    color: white;
}

.nav-link {
    color: white;
}

@keyframes linkAnimation {
    50% {
        transform: scaleY(1.1);
        transform: scaleX(1.1);
    }

    100% {
        transform: scaleY(1.0);
        transform: scaleX(1.0);
    }

}

.nav-link:hover {
    color: white;
    /* transform: scale(1.1);
    transition: 0.1s; */
    animation-name: linkAnimation;
    animation-duration: 0.3s;
}

#uploadFileContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#sfondo{
    width: 100%;
    height: auto;
    position:absolute;
    z-index: 0;
    transform: rotate(180deg);

    margin-top: -400px;
}

/* From Uiverse.io by Yaya12085 */
.custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px solid #2a373c79;
    background-color: #455a6454;   
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

#iconContainer{
    border: 3px dashed rgba(198, 198, 198, 0.373);
    border-radius: 15px;
}

@media screen and (max-width: 931px) {

    #sfondo{
        margin-top: -180px;
    }
}

.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .icon svg {
    height: 80px;
    fill: rgb(198, 198, 198);
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: rgb(198, 198, 198);
}

.custum-file-upload input {
    display: none;
}
